@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;  
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}


div::-webkit-scrollbar {
  display: none;
}

:root {
  --color-bg: #ffffff;
  --color-text: #000000;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-text: #ffffff;
}
